<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ html_title }} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <script src="https://kit.fontawesome.com/26c2ec2f36.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap"
        rel="stylesheet">


    <!-- Importing Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>
        <!-- Header and Hamburger button setup -->
        <header class="realHeader">
            <div class="logo">
                <img src="{{ url_for('static', filename='/img/logo2.png') }}" alt="JPC Logo">
               
            </div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">My Skills</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About Me</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">My Work</a></li>
                </ul>
            </nav>
        </header>
    {% block content %} {% endblock %}
    


    <!-- Footer -->
    <footer class="footer">
        <!-- Email me! -->
        <a href="mailto:clouse.jp@gmail.com" class="footer__link">clouse.jp@gmail.com</a>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="https://github.com/jacobpclouse">
                    <i class="fab fa-github"></i>
                </a>
            </li>

            <li class="social-list__item">
                <a class="social-list__link" href="https://www.linkedin.com/in/jpclouse/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>

        </ul>
    </footer>

    <!-- Importing javascript -->
    <!-- <script src="js/index.js"></script> -->
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>


</body>

</html>
